{% extends 'base.html.twig' %}

{% block title %}Maze Creator{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Maze Creation</h1>

        <p>create your maze</p>

        {{ form(form) }}
    </div>
{% endblock %}
